.page {
font-family: Satoshi, sans-serif;
font-weight: 700;
}


.page__body {
min-width: 375px;    
}

.sale-registration__container {
background-color: #000;
color: #fff;
padding: 10px 20px;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;  
position: relative; 
gap: 10px;
}


.sale-registration__container a {
color: #fff;
text-decoration: underline;
cursor: pointer;
    }
.sale-registration__container .close-btn {
cursor: pointer;
font-weight: bold;
}

.sale__actions-button {
position: absolute;
right: 0; 
}

.container {
width: min(var(--container-width), 100% - var(--container-padding) * 2);
margin-inline: auto;
   
}

.sale__registration {
width: 100%;
background-color: #000;
color: #fff;
}



.text {
font-family: var(--third-family);
font-weight: 700;
font-size: 32px;
text-decoration-skip-ink: none;
color: #000;
margin-right: 40px;
}



