.menu__list {
display: flex;
align-items: center; 
gap: 24px;   
}

.menu__list a {
  text-decoration: none;  /* убирает подчёркивание */
  color: inherit;         /* опционально: цвет как у родителя */
}

.menu__link{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #000;
}