
@media (width <= 768px) {
.newsletter-banner {
padding: 32px 24px;  
}  
}

.newsletter-content {
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap: 74px;
}

@media (width <= 768px) {
.newsletter-content {
 gap: 32px; 
}  
}

.newsletter__text {
font-family: var(--second-family);
font-weight: 900;
font-size: 40px;
line-height: 113%;
color: #fff;
}

@media (width <= 768px) {
.newsletter__mobile {
display: none;
}
.newsletter__text {
font-size: clamp(30px, 0.818rem + 0.91vw, 40px);
}  
}

.newsletter__form {
display: flex;
flex-direction: column; 
gap: 14px;
}



.newsletter__mail {
position: absolute;

}

.newsletter__input {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.4);
border-radius: 62px;
padding: 12px 16px;
width: 349px;
height: 48px;
padding: 0 0 0 52px;
}



.newsletter__button {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: #000;
background: #fff;
border-radius: 62px;
padding: 12px 16px;
width: 349px;
height: 46px;
}

