.hero {
border: 1px solid #000;
background: #f2f0f1;
padding-top: 24px;
}

.hero__inner {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(5rem, -2.8rem + 20vw, 25rem) 0 clamp(17.8rem, 14.99rem + 7.2vw, 25rem);
}

.hero__title {
font-family: var(--second-family);
font-weight: 900;
font-size: 57px;
line-height: 112%;
color: #000;
padding-top: 106px; 
margin-bottom: 34px; 
}

.hero__container-text {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 138%;
color: rgba(0, 0, 0, 0.6); 
margin-bottom: 32px;    
}

.hero__button {
text-decoration: none;      
color: #f2f0f1;          
border-radius: 62px;
border: 2px solid #000;
background-color: #000; 
padding: 16px 54px;
}



.hero__list {
margin-top: 48px;    
margin-bottom: 116px;
}

.hero__shop-info-list {
display: flex;                 
justify-content: space-between; 
align-items: center;           
list-style: none;              
padding: 0;                   
margin: 0;

width: 644px;
height: 74px;
}

.hero__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: clamp(28rem, 15rem + 35vw, 74.5rem);
    height: auto;
    pointer-events: none;
    transform: translateY(clamp(0%, (100vw - 768px) * -0.2, 15%));
}


.hero__shop-info-item {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 138%;
color: rgba(0, 0, 0, 0.6);
text-align: center;
padding: 0 20px; 
border-right:1px solid rgba(0, 0, 0, 0.1);
}

.hero__shop-info-item:last-child {
  border-right: none;
}


