@media (width > 768px) {
.burger {
display: none;
}    
}

@media (width <= 768px) {
.burger {
display: flex;
align-items: center;
justify-content: center;        
width: 24px;
height: 24px;
    }
}