.page {
font-family: Satoshi, sans-serif;
font-weight: 700;
}


.page__body {
min-width: 375px;    
}

.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
   
}

.header {
background-color: #000;
color: #fff;

}





.text {
  font-family: var(--third-family);
font-weight: 700;
font-size: 32px;
text-decoration-skip-ink: none;
color: #000;
margin-right: 40px;
}



