.brands {
background-color: #000;
}

.brands__featured-brands {
display: flex;
gap: 106px;   
padding: 44px 0 44px 0; 
}

@media (width <= 768px) {
.brands__featured-brands {
display: flex;
flex-wrap: wrap;
justify-content: center; 
gap: 40px; 
padding: 44px 0;
box-sizing: border-box;
}

}